/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Italic.ttf);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

:root {
  /* ## Colors */

  /* ### Primary */
  /* - Purple: hsl(259, 100%, 65%) */
  --clr-primary-purple: #854dff;
  /* - Light red: hsl(0, 100%, 67%) */
  --clr-primary-light-red: hsl(0, 100%, 67%);

  /* ### Neutral */
  /* - White: hsl(0, 0%, 100%) */
  --clr-neutral-white: hsl(0, 0%, 100%);
  /* - Off white: hsl(0, 0%, 94%) */
  --clr-neutral-off-white: hsl(0, 0%, 94%);
  /* - Light grey: hsl(0, 0%, 86%) */
  --clr-neutral-light-grey: hsl(0, 0%, 86%);
  /* - Smokey grey: hsl(0, 1%, 44%) */
  --clr-neutral-smokey-grey: hsl(0, 1%, 44%);
  /* - Off black: hsl(0, 0%, 8%) */
  --clr-neutral-off-black: hsl(0, 0%, 8%);

  /* ## Typography

### Body Copy

- Font size (inputs): 32px

### Font

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400i, 700, 800i */

  /* - Font size (paragraph): 18px */
  --fs-base: 32px;
  /* Font family */
  --ff-app: "Poppins", sans-serif;

  /* Font weights */
  --fw-400: 400;
  --fw-700: 400;
  --fw-800: 400;

  /* Font styles */
  --fst-400: italic;
  --fst-700: normal;
  --fst-800: italic;
}

body {
  font-size: var(--fs-base);
  font-family: var(--ff-app);
  /* background-color: white; */
  display: grid;
  place-items: center;
  background: var(--light-grey, #f0f0f0);
}

.container {
  display: flex;
  width: 375px;
  padding: 88px 16px 238px 16px;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
    height: 960px;
    padding: 171px 300px 109px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card {
  display: flex;
  width: 343px;
  padding: 48px 24px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 24px 24px 100px 24px;
  background: var(--clr-neutral-white, #fff);
  gap: 32px;
}
@media (min-width: 1440px) {
  .card {
    gap: 0;
    width: 840px;
    height: 651px;
    padding: 56px;
    flex-shrink: 0;
    border-radius: 24px 24px 200px 24px;
    background: var(--clr-neutral-white, #fff);
  }
}

.card__date {
  display: flex;
  width: 100%;
  gap: 16px;
}
@media (min-width: 1440px) {
  .card__date {
    gap: 32px;
  }
}

.date__fieldset {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;
  padding: 0;
  margin: 0;
}

.date__legend {
  color: var(--clr-neutral-smokey-grey, #716f6f);
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .date__legend {
    font-size: 14px;
    letter-spacing: 3.5px;
  }
}

.date__input {
  width: 100%;
  color: var(--clr-neutral-off-black, #151515);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2px;
  outline: none;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--clr-neutral-light-grey);
}
@media (min-width: 1440px) {
  .date__input {
    width: 160px;
    font-size: 32px;
    letter-spacing: 0.32px;
    padding: 12px 24px;
  }
}

.date__input:focus {
  border: 1px solid var(--clr-primary-purple, #854dff);
  caret-color: var(--clr-primary-purple);
}

.date__input::-webkit-outer-spin-button,
.date__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.date__input[type="number"] {
  -moz-appearance: textfield;
}

.invalid__date > .date__legend,
.invalid__date > .date__error {
  visibility: visible;
  color: var(--red, #ff5959);
}

.invalid__date > .date__input {
  border-color: var(--clr-primary-light-red);
  caret-color: var(--clr-primary-light-red);
}

.date__error {
  visibility: hidden;
  color: var(--red, #ff5959);
  font-size: 14px;
  font-style: italic;
}

.card__separator {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 64px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "hr button hr";
}
@media (min-width: 1440px) {
  .card__separator {
    display: flex;
    align-items: center;
  }
}

.separator__rule {
  grid-column: 1 / -1;
  width: 100%;
  height: 100%;
  height: 1px;
  border: none;
  color: var(--clr-neutral-light-grey);
  background: var(--clr-neutral-light-grey);
}

.separator__button {
  position: absolute;
  padding: 0;
  display: grid;
  place-items: center;
  border: none;
  width: 64px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--clr-primary-purple, #854dff);
  cursor: pointer;
}
@media (min-width: 1440px) {
  .separator__button {
    width: 96px;
    position: static;
  }
}

.separator__button:hover {
  background: var(--clr-neutral-off-black);
}

.elapsed__time {
  color: var(--clr-primary-purple, #854dff);
  font-size: 56px;
  font-style: italic;
  font-weight: 800;
  line-height: 110%;
  letter-spacing: -1.12px;
}
@media (min-width: 1440px) {
  .elapsed__time {
    font-size: 104px;
    letter-spacing: -2.08px;
  }
}

.elapsed__legend {
  color: var(--clr-neutral-off-black, #151515);
  font-size: 56px;
  font-style: italic;
  font-weight: 800;
  line-height: 110%;
  letter-spacing: -1.12px;
}
@media (min-width: 1440px) {
  .elapsed__legend {
    font-size: 104px;
    letter-spacing: -2.08px;
  }
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.attribution {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}
@media (min-width: 1440px) {
  .attribution {
    flex-direction: row;
  }
}
